<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sign-up.css">
</head>

<body>

    <div id="sign-up-box">
        <h1>Sign Up</h1>
        <form action="/signUp" method="post">
            <input class="input" type="text" name="uname" placeholder="Username">
            <input class="input" type="password" name="pass1" placeholder="Password">
            <input class="input" type="password" name="pass2" placeholder="re-enter password">
            <br>
            <input id="submit" type="submit" value="Sign Up">
        </form>
    </div>

</body>

</html>