@media all and (max-width: 450px) {
    .header #title {
        margin-top: 0px;
        font-size: 24px;

        height: fit-content;
    }

    .header #title img {
        margin-right: 4px;
        height: 18px;
        width: 18px;
    }

    .header #menu button {
        width: 54px;
        height: 24px;
        margin: 2px;

        text-align: center;
    }
}

