<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="text" name="usr" placeholder="användar namn">
        <input type="text" name="pass" placeholder="Lösenord">
        <input type="text" name="fName" placeholder="Namn">
        <input type="text" name="eName" placeholder="Efternamn">
        <input type="number" name="age" placeholder="Ålder">
        <label for="inS">Går I Skolan?</label>
        <input type="checkbox" name="inS" value="true" id="">
        <input type="submit" value="Send">
    </form>
</body>
</html>