<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hem</h1>
    <% if(!animalName || !animals[animalName]) {%>
    <% for(let i in animals) {%>
    <div class="djur">
        <h3><%= i%></h3>
        <p>say: <%= animals[i]%> </p>
    </div>
    <%}%>
    <%} else {%>
    <div class="animal">
        <h4><%= animalName%></h4>
        <p>say:<%= animals[animalName] %> %></p>
    </div>
    <%}%> 
</body>

</html>