<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <a href="/index/signIn"><button>sign in</button></a>
    </header>

    <div id="content">

        <!-- jag vet man ska inte göra så här -->
        <h1 style="text-align: center;">Feed</h1>

    </div>

</body>

</html>