<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">

        <input type="text" name="title" id="">
        <label for="title">Post Title</label>
        <br>
        <textarea name="text" id="" cols="30" rows="10" placeholder="What do you have on your mind?"></textarea> <br>
        <input type="text" name="tag" id="">
        <label for="tag">Post tag</label><br>
        <input id="btn" type="submit" value="post">
    </form>
</body>

</html>