.post {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.25rem;
    color: white;
    background-color: #002244;
    border-radius: 0.625rem;
    border: 0.0625rem solid
}

.post_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.625rem;
}

.post_title {
    text-decoration: underline;
    font-size: 2em;
    text-align: left;
}

.post_author {
    text-align: right
}

.post_content {
    background-color: #555555;
    padding: 0.625rem;
    text-align: left;
    font-size: 1.5em;
    overflow-wrap: break-word;
}

.post_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8em;
    color: grey;
    padding: 0.625rem;
    text-align: left;
}

.post_date {
    text-align: center;
}