body  { 
    margin: 0; 
    background-color: rgb(15, 20, 40); 
    color: white;
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color:  rgb(25, 40, 60);
    border-bottom: 0.0625rem solid white;
    padding: 0.3125rem;
}

#content {
    background-color: rgb(20, 35, 55);
    padding: 0.3125rem;
    margin: 0.625rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 0.0625rem solid white;
    border-radius: 0.9375rem;
}