body {
    margin: 0;
    background-color: #001122;
    color: white
}

#header {
    color: white;
    font-size: 1.5em;
    padding: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid;
    background-color: #002244;
}

#content {
    width: 900px;

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    border: 1px solid white;
    border-radius: 10px;

    text-align: center;

    background-color: #24283a;
}

#control_bar {
    text-align: right;
}